<div id = "date-selection-div">
    <form #dateForm="ngForm" (ngSubmit)="dateForm.valid && onSearch(dateForm)" >
        <input type="date" [(ngModel)] = "selectedDate" name = "selectedDate" #date = "ngModel" ngModel required>
        <div *ngIf = "dateForm.valid && date.invalid">
            <p>invalid field</p>
        </div>
        <button type = "submit" [disabled]="dateForm.invalid">SEARCH</button>
    </form>
</div>
<div *ngIf = "articles.length != 0"id = "article-list">
    <h2>{{selectedDate}}</h2>
    <ol>
        <li *ngFor="let article of articles; let i = index">
            <a href={{article.url}} target="_blank" rel="noopener noreferrer">{{article.headline}}</a>
        </li>
    </ol>
</div>
