<div id = "date-selection-div">
    <form #dateForm="ngForm" (ngSubmit)="dateForm.valid && onSearch(dateForm)" >
        <input type="date" [(ngModel)] = "selectedDate" name = "selectedDate" #date = "ngModel" ngModel required>
        <div *ngIf = "dateForm.valid && date.invalid">
            <p>invalid field</p>
        </div>
        <button type = "submit" [disabled]="dateForm.invalid">SEARCH</button>
    </form>
</div>
<div id = "article-list">
    <ul>
        <li *ngFor="let article of articles">
            {{article}}
        </li>
    </ul>
</div>
